/* CSS Reset */
*{
  padding: 0; margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
/*CABECARIO*/
.header{
  background-color: #c0392b;
  background-image: linear-gradient(#c0392b, #e74c3c);
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px){
  .header{
    flex-direction: column-reverse;
  }
}
      .header__titulo{
        color: aliceblue;
        /* Aplicando sombra ao texto do titulo */
        text-shadow: 0.5px 0.5px 1px #2b2727;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        padding: 30px;
        text-align: center;

      }
      @media(min-width: 600px){
        .header__titulo{
          text-align: left;
        }

      }
        .header__titulo__bg_White{
          color: #c0392b;
          background-color: aliceblue;
          font-family: 'Open Sans', sans-serif;
          padding: 6px;
          border-radius: 5px;
        }
        .menu{
          list-style: none;
          display: flex;
          flex-direction: column;

        }
        @media(min-width: 600px){
          .menu{
            flex-direction: row;
          }
        }
        .menu__item > a{
          padding: 20px;
          text-decoration: none;
          color: #ffecdc;
          display: block;
        }
        .menu__item > a:hover{
          color:#c0392b;
          background-color: #fff;
        }
    /*serie cover main page*/
    .serie{
    text-align: center;
    }
      .serie__titulo{
        font-family: 'Open Sans', sans-serif;
        font-size: 28px;
        padding: 20px 0 2px;


        }
        .serie__genero{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #a9a4a4;
            display: block;
            padding: 2px 0 20px; 
          }
          .serie__imagem{
              display: block;
              max-width: 328px;
              margin: 0 auto;
              margin-bottom: 10px;
              border-radius: 5px;

              /* colocando sombra na imagem  */
              -moz-box-shadow: 5px 10px 5px #888; 
              -webkit-box-shadow: 5px 10px 5px #888;
              box-shadow: 5px 5px 5px #888; 
            }
            .serie__readmore{
              font-family: 'Roboto', sans-serif;
              color: aliceblue;
              background-color: #c0392b;
              display:block;
              text-decoration: none;
              padding: 7px;
              margin: 10px auto;
              max-width: 328px;
              border-radius: 6px;
              

            }
            .serie__readmore:hover{
                background-color: #E74C3C;
                

            }
/*Rodape do site*/
    .footer{
      margin-top: 10px;
      background-color: #ffecdc;
      color: #c0392b;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
      .footer__image{
        max-width: 25px;
        height: 25px;
        /* padding-top: 10px; */
        margin-right: 10px;
        
      }
        .footer__element{
          padding: 10px;
        }

        .caixa_email{
          border: 1px solid #c0392b;
          border-radius: 4px;
          padding: 5px;
          border-radius: 5px 0 0 5px;
          background-color: #EEEEEE;
          width: 278px;
          height: 33px;
          left: 33px;
          top: 2820px


        }
        .caixa_email--btn__cadastar{
          padding: 8px;
          border: 1px solid #c0392b;
          border-radius: 0 5px 5px 0;
          color: #ffecdc;
          background-color:#c0392b;
          margin: -10px;
          

        }

    .series{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }
    .serie{
    text-align: center;
    margin: 0 auto;

    }
      .serie__titulo{
        font-family: 'Open Sans', sans-serif;
        font-size: 28px;
        padding: 20px 0 2px;


        }
        .serie__genero{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #a9a4a4;
            display: block;
            padding: 2px 0 20px; 
          }
          .serie__imagem{
              display: block;
              max-width: 328px;
              margin: 0 auto;
              margin-bottom: 10px;
              border-radius: 5px;

              /* colocando sombra na imagem  */
              -moz-box-shadow: 5px 10px 5px #888; 
              -webkit-box-shadow: 5px 10px 5px #888;
              box-shadow: 5px 5px 5px #888; 
            }
            .serie__readmore{
              font-family: 'Roboto', sans-serif;
              color: aliceblue;
              background-color: #c0392b;
              display:block;
              text-decoration: none;
              padding: 7px;
              margin: 10px auto;
              max-width: 328px;
              border-radius: 6px;

            }
            .serie__readmore:hover{
                background-color: #E74C3C;

            }

/*serie cover mais page 02*/
.serie_detalhe{
   text-align: center;
}

                .serie_detalhe__titulo{
                  font-family: 'Open Sans', sans-serif;
                  font-size: 28px;
                  padding: 20px 0 2px;
              
              
                  }
                  .serie_detalhe__genero{
                      font-family: 'Open Sans', sans-serif;
                      font-size: 16px;
                      color: #a9a4a4;
                      display: block;
                      padding: 2px 0 20px; 
                    }
                    .serie_detalhe__imagem{
                        display: block;
                        max-width: 328px;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        border-radius: 5px;
              
                        /* colocando sombra na imagem  */
                        -moz-box-shadow: 5px 10px 5px #888; 
                        -webkit-box-shadow: 5px 10px 5px #888;
                        box-shadow: 5px 5px 5px #888; 
                      }
                      .serie_detalhe__texto{
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        line-height: 1.5;
                        max-width: 328px;
                        margin: 10px auto;
                        text-align: left;

                      }

                      .serie_detalhe__whatchtrailer{
                        font-family: 'Roboto', sans-serif;
                        color: rgb(0, 0, 0);
                        background-color: #e4cd02;
                        display:block;
                        text-decoration: none;
                        padding: 7px;
                        margin: 10px auto;
                        max-width: 328px;
                        border-radius: 6px;
              
                      }
                      .serie_detalhe__whatchtrailer:hover{
                          background-color: rgb(231, 235, 39);
                          
              
                      }

/*serie avaliação*/

.serieAvaliacao{
  background-color:  #ffecdc;
}
.serieAvaliacao__titulo{
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 30px 0 10px;

}
.serieAvaliacao__imagens{
  text-align: center;
  padding: 30px;
}
.serieAvalicao__twitter{
  margin: 0 50px;
}
.serieAvaliacao__percentual{
  color: #27ae60;
  font-size: 37px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

